{% if settings.show_breadcrumbs %}

  {% unless template.name == 'index' or template.name == 'cart' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Home">Home</a>

    {% if template.name == 'product' %}

      {% if collection %}
        <span class="divider" aria-hidden="true">/</span>
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
        {% endif %}
      {% endif %}
      <span class="divider" aria-hidden="true">/</span>
      <span class="breadcrumb--truncate">{{ product.title }}</span>

    {% elsif template.name == 'collection' and collection.handle %}

      <span class="divider" aria-hidden="true">/</span>

      {% if current_tags %}

        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}

        <span class="divider" aria-hidden="true">/</span>

        {% for tag in current_tags %}

          {% assign is_advanced_tag = false %}
          {% assign cat = tag | split: '_' | first %}
          {% unless cat == tag %}
            {% if cat_array contains cat %}
              {% assign is_advanced_tag = true %}
              <span>
                {{ tag | remove_first: cat | remove_first: '_' }}
              </span>
            {% endif %}
          {% endunless %}

          {% if is_advanced_tag == false %}
          <span>
            {{ tag }}
          </span>
          {% endif %}

          {% unless forloop.last %}
          <span>+</span>
          {% endunless %}

        {% endfor %}

      {% else %}
        <span>{{ collection.title }}</span>
      {% endif %}

    {% elsif template.name == 'blog' %}

      <span class="divider" aria-hidden="true">/</span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span class="divider" aria-hidden="true">/</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
      {% endif %}

    {% elsif template.name == 'article' %}

      <span class="divider" aria-hidden="true">/</span>
      {{ blog.title | link_to: blog.url }}
      <span class="divider" aria-hidden="true">/</span>
      <span>{{ article.title }}</span>

    {% elsif template.name == 'page' %}

      <span class="divider" aria-hidden="true">/</span>
     <span>{{ page.title }}</span>

    {% else %}

      <span class="divider" aria-hidden="true">/</span>
     <span>{{ page_title }}</span>

    {% endif %}
  </nav>
  {% endunless %}

{% endif %}
