{%- assign animation_row = 1 -%}
{%- assign drawer_position = 'right' -%}
{% if section.settings.main_menu_alignment == 'center' %}
  {%- assign drawer_position = 'left' -%}
{% endif %}

<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__fixed-header">
    <div class="drawer__header appear-animation appear-delay-{{ animation_row }}">
      <div class="drawer__title"></div>
      <div class="drawer__close">
        <button type="button" class="drawer__close-button js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="drawer__inner">

    <ul class="mobile-nav">
      {% for link in main_menu.links %}
        {% assign animation_row = animation_row | plus: 1 %}
        {%- assign has_dropdown = false -%}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          {%- assign has_dropdown = true -%}
        {% endif %}

        <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
          {% if has_dropdown %}
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}">
                  {% include 'collapsible-icons' %}
                </button>
              </div>
            </div>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          {% endif %}

          {% if has_dropdown %}
            <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist collapsible-content collapsible-content--all" aria-labelledby="Label-{{ child_list_handle }}">
              <div class="collapsible-content__inner">
                <ul class="mobile-nav__sublist">
                  {% for childlink in linklists[child_list_handle].links %}
                    {%- assign has_sub_dropdown = false -%}
                    {% assign grand_child_list_handle = childlink.title | handle %}
                    {% if linklists[grand_child_list_handle].links != blank %}
                      {%- assign has_sub_dropdown = true -%}
                    {% endif %}

                    <li class="mobile-nav__item{% unless template == 'index' %}{% if childlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                      <div class="mobile-nav__child-item">
                        <a href="{{ childlink.url }}" class="mobile-nav__link" id="Sublabel-{{ grand_child_list_handle }}">
                          {{ childlink.title | escape }}
                        </a>
                        {% if has_sub_dropdown %}
                          <button type="button" class="collapsible-trigger" aria-controls="Sublinklist-{{ grand_child_list_handle }}">
                            {% include 'collapsible-icons-alt' %}
                          </button>
                        {% endif %}
                      </div>

                      {% if has_sub_dropdown %}
                        <div id="Sublinklist-{{ grand_child_list_handle }}" class="mobile-nav__sublist collapsible-content collapsible-content--all" aria-labelledby="Sublabel-{{ grand_child_list_handle }}">
                          <div class="collapsible-content__inner">
                            <ul class="mobile-nav__grandchildlist">
                              {% for grandchildlink in linklists[grand_child_list_handle].links %}
                                <li class="mobile-nav__item{% unless template == 'index' %}{% if grandchildlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                                  <a href="{{ grandchildlink.url }}" class="mobile-nav__link">
                                    {{ grandchildlink.title }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}

      {% if shop.customer_accounts_enabled %}
        {% assign animation_row = animation_row | plus: 1 %}
        {% if customer %}
          <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
            <a href="/account" class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
          </li>
        {% else %}
          <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
            <a href="/account/login" class="mobile-nav__link">{{ 'layout.customer.log_in' | t }}</a>
          </li>
        {% endif %}
      {% endif %}

      <li class="mobile-nav__spacer"></li>

    </ul>

  <ul class="mobile-nav__social">
    {% if settings.social_facebook_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {% include 'icon-facebook' %}
          <span class="icon__fallback-text">Facebook</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_twitter_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {% include 'icon-twitter' %}
          <span class="icon__fallback-text">Twitter</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {% include 'icon-pinterest' %}
          <span class="icon__fallback-text">Pinterest</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {% include 'icon-instagram' %}
          <span class="icon__fallback-text">Instagram</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_snapchat_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {% include 'icon-snapchat' %}
          <span class="icon__fallback-text">Snapchap</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {% include 'icon-tumblr' %}
          <span class="icon__fallback-text">Tumblr</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {% include 'icon-youtube' %}
          <span class="icon__fallback-text">YouTube</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
      {% assign animation_row = animation_row | plus: 1 %}
      <li class="appear-animation appear-delay-{{ animation_row }}">
        <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {% include 'icon-vimeo' %}
          <span class="icon__fallback-text">Vimeo</span>
        </a>
      </li>
    {% endif %}
  </ul>

  </div>
</div>
