<div class="footer__logo-social">
  {% if block.settings.logo %}
    <style>
      .footer__logo a {
        height: {{ block.settings.desktop_logo_height }}px;
      }
    </style>
    {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
    <div class="footer__logo">
      <a href="/">
        <img src="{{ block.settings.logo | img_url: footer_logo_size, scale: 2 }}" alt="{{ block.settings.logo.alt | default: shop.name }}">
      </a>
    </div>
  {% endif %}

  <ul class="no-bullets footer__social">
    {% if settings.social_facebook_link != blank %}
      <li>
        <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {% include 'icon-facebook' %}
          <span class="icon__fallback-text">Facebook</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_twitter_link != blank %}
      <li>
        <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {% include 'icon-twitter' %}
          <span class="icon__fallback-text">Twitter</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
      <li>
        <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {% include 'icon-pinterest' %}
          <span class="icon__fallback-text">Pinterest</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
      <li>
        <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {% include 'icon-instagram' %}
          <span class="icon__fallback-text">Instagram</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_snapchat_link != blank %}
      <li>
        <a href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {% include 'icon-snapchat' %}
          <span class="icon__fallback-text">Snapchat</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
      <li>
        <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {% include 'icon-tumblr' %}
          <span class="icon__fallback-text">Tumblr</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
      <li>
        <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {% include 'icon-youtube' %}
          <span class="icon__fallback-text">YouTube</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
      <li>
        <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {% include 'icon-vimeo' %}
          <span class="icon__fallback-text">Vimeo</span>
        </a>
      </li>
    {% endif %}
  </ul>

</div>

{% unless first_instance %}
  <div class="footer__currency medium-up--hide">
    {% include 'currency-picker', picker_id: 'footer' %}
  </div>
{% endunless %}
<p class="footer__powered_by{% if first_instance %} small--hide{% endif %}">{{ powered_by_link }}</p>

