<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm-{{ section_id }}">
  {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
    {% for option in product.options_with_values %}
      {% if settings.variant_type == 'button' %}
        {% include 'variant-button', section_id: section_id, option_drop: option %}
      {% else %}
        {% include 'variant-dropdown', section_id: section_id, first: forloop.first %}
      {% endif %}
    {% endfor %}
  {% endunless %}

  <select name="id[]" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% if show_quantity %}
    <div class="product__quantity product__quantity--{{ settings.variant_type }} js-qty">
      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1" class="js-qty__fallback">
    </div>
  {% endif %}


  {% if product.metafields.upsell.product %}
    <div class="variant__wrapper">
      <label class="variant__label">
        Complete your dream bed
      </label>
      {% for upsell_key in product.metafields.upsell %}
        {% capture upsell_handle %}{{ upsell_key | last }}{% endcapture %}
        {% assign upsell = all_products[upsell_handle] %}
        {% capture unique_id %}{{ product.id }}-{{ upsell.id }}{% endcapture %}
        <div class="upsell">
          <div class="upsell__checkbox-wrapper">
            <input type="checkbox" id="addUpsell-{{ unique_id }}" class="upsell__checkbox" data-check-upsell="{{ unique_id }}">
            <label for="addUpsell-{{ unique_id }}">
              <span class="visually-hidden">Add {{ upsell.title }}</span>
            </label>
          </div>
          <div class="upsell__content">
            <p class="upsell__heading">
              Add a <strong>{{ upsell.title }}</strong>
            </p>
            <label for="selectUpsell-{{ unique_id }}" class="visually-hidden">Select {{ upsell.title }} variant</label>
            <select id="selectUpsell-{{ unique_id }}" class="variant__select" data-upsell="{{ unique_id }}">
            {% for upsell_variant in upsell.variants %}
              {% if upsell_variant.available %}
                <option 
                  value="{{ upsell_variant.id }}">
                  {{ upsell_variant.title }} - {{ upsell_variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ upsell_variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% comment %}
    Handle featured product section add to cart button options
  {% endcomment %}
  {% if buy_status %}
    {% unless buy_status == 'none' or buy_status == 'Coming soon' %}
      <button
        {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
        name="add"
        id="AddToCart-{{ section_id }}"
        class="btn btn--full add-to-cart"
        {% unless product.available %} disabled="disabled"{% endunless %}>
        <span id="AddToCartText-{{ section_id }}">
          {% case buy_status %}
            {% when 'available' %}
              {% if product.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            {% when 'Pre-order' %}
              {{ buy_status }}
          {% endcase %}
        </span>
      </button>
    {% endunless %}

    {% if buy_status == 'Coming soon' %}
      <span class="btn btn--full add-to-cart" disabled="disabled">
        {{ buy_status }}
      </span>
    {% endif %}
  {% else %}
    <button type="submit" name="add" id="AddToCart-{{ section_id }}" class="btn btn--full add-to-cart"{% unless product.available %} disabled="disabled"{% endunless %}>
      <span id="AddToCartText-{{ section_id }}">
        {% if product.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
    </button>
  {% endif %}
  <span class="product__note">
    {{ 'cart.general.free_shipping' | t }}
  </span>

</form>
