{%- assign template_base = template | split: '.' | first -%}
{%- assign og_title = page_title  -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}
{%- if template_base == 'index' -%}
  {% if settings.homepage_social_image != blank %}
    {%- capture og_image_tags -%}
      <meta property="og:image" content="http:{{ settings.homepage_social_image | img_url: '1200x630' }}">
    {%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}
      <meta property="og:image:secure_url" content="https:{{ settings.homepage_social_image | img_url: '1200x630' }}">
    {%- endcapture -%}
  {% endif %}
{%- elsif template_base == 'product' -%}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'product' -%}
  {%- capture og_image_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image" content="http:{{ image.src | product_img_url: '1200x630' }}">{% endfor -%}{%- endcapture -%}
  {%- capture og_image_secure_url_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1200x630' }}">{% endfor -%}{%- endcapture -%}
{%- elsif template_base == 'article' -%}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {%- if article.image -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1200x630' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x630' }}">{%- endcapture -%}
  {%- endif -%}
{%- elsif template_base == 'collection' -%}
  {%- capture og_image_tags -%}
    {% for product in collection.products limit: 3 %}
      <meta property="og:image" content="http:{{ product | img_url: '1200x630' }}">
    {%- endfor -%}
  {%- endcapture -%}
  {%- capture og_image_secure_url_tags -%}
    {% for product in collection.products limit: 3 %}
      <meta property="og:image:secure_url" content="https:{{ product | img_url: '1200x630' }}">
    {%- endfor -%}
  {%- endcapture -%}
{%- elsif template_base == 'password' -%}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{%- endif -%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">
{%- if template_base == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{%- endif -%}
{{ og_image_tags }}
{{ og_image_secure_url_tags }}
<meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">
