{% paginate blog.articles by 5 %}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content">

    {% include 'breadcrumbs' %}

    <div class="grid">

      <div class="grid__item">

        <header class="section-header">
          <h1 class="section-header__title">
            {{ blog.title }}

            {% if section.settings.blog_show_tag_filter %}
              {% if blog.tags.size > 0 %}
                <select id="BlogTagFilter">
                  <option value="/blogs/{{ blog.handle }}">All</option>
                  {% for tag in blog.all_tags %}
                    <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
                  {% endfor %}
                </select>
              {% endif %}
            {% endif %}

            {% if section.settings.blog_show_rss %}
              <a href="{{ shop.url }}{{ blog.url }}.atom" class="rss-link">
                {% include 'icon-rss' %}
                <span class="icon__fallback-text">RSS</span>
              </a>
            {% endif %}
          </h1>
        </header>

        {% for article in blog.articles %}

          {% assign featured_image_src = '' %}

          {% if article.image %}
            {% assign featured_image_src = article | img_url: '1024x1024' %}
          {% endif %}

          <article class="article" data-aos>
            <div class="grid">

              {% unless featured_image_src == blank %}
              <div class="article__image image-wrap{% cycle '',' article__image-right' %}">
                <div class="article__image--image animate-me" style="background-image:url({{ featured_image_src }})">
                </div>
              </div>
              {% endunless %}


              <div class="grid__item widescreen-three-tenths medium-up--four-tenths{% cycle ' medium-up--push-six-tenths','' %} article__content">

                <div class="article__content-meta">

                  
                  <div class="article__date">
                    {% assign first_item = true %}
                    {% if section.settings.blog_show_tags and article.tags.size > 0 %}
                      {% for tag in article.tags %}
                         {% unless first_item %} &middot; {% endunless %}{% assign first_item = false %}
                         <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                      {% endfor %}
                    {% endif %}
                    {% if section.settings.blog_show_comments and article.comments_count > 0 %}
                      {% unless first_item %} &middot; {% endunless %}{% assign first_item = false %}
                      <a href="{{ article.url }}#comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment', 'comments' }}</a>
                    {% endif %}
                    {% if section.settings.blog_show_date %}
                      {% unless first_item %} &middot; {% endunless %}{% assign first_item = false %}
                      {{ article.published_at | time_tag: format: 'month_day_year' }}
                    {% endif %}
                  </div>
                

                  <h2 class="h3 article__h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>

                  {% if section.settings.blog_show_author %}
                    <div class="article__author">by {{ article.author }}</div>
                  {% endif %}

                </div>

                <div class="rte rte--block">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncatewords: 40 }}
                  {% endif %}
                </div>

                <a href="{{ article.url }}" class="btn">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </div>
            </div>
          </article>

        {% endfor %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endpaginate %}



{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_tag_filter",
        "label": "Show tag filter"
      },
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      }
    ]
  }
{% endschema %}
