<style>
.hero--{{ section.id }} .hero__title {
  font-size: {{ section.settings.title_size | times: 0.5 }}px;
}
@media only screen and (min-width: 590px) {
  .hero--{{ section.id }} .hero__title {
    font-size: {{ section.settings.title_size }}px;
  }
}
</style>

<div
  data-section-id="{{ section.id }}"
  data-section-type="video-section"
  class="video-parent-section hero hero--{{ section.id }} hero--{{ section.settings.section_height }}"
  data-aos="hero__animation">

  <div class="hero__media hero__media--{{ section.id }}">

    {% if section.settings.video_url contains 'youtube.com/watch' %}
      {%- assign video_id = section.settings.video_url | split: 'v=' -%}
      {%- assign video_id = video_id[1] | split: '&' | first -%}
      <div
        id="YouTubeVideo-{{ section.id }}"
        data-video-id="{{ video_id }}"></div>
    {% endif %}

    {% if section.settings.video_url contains 'youtu.be/' %}
      {%- assign video_id = section.settings.video_url | split: '.be/' -%}
      {%- assign video_id = video_id[1] | split: '&' | first -%}
      <div
        id="YouTubeVideo-{{ section.id }}"
        data-video-id="{{ video_id }}"></div>
    {% endif %}

    {% if section.settings.video_url contains 'vimeo.com' %}
      {%- assign video_id = section.settings.video_url | split: '.com/' -%}
      {%- assign video_id = video_id[1] | split: '/' | first -%}
      <div
        id="Vimeo-{{ section.id }}"
        data-video-id="{{ video_id }}"></div>
    {% endif %}

    {% if section.settings.video_url contains '.mp4' %}
      <video
        id="Mp4Video-{{ section.id }}"
        src="{{ section.settings.video_url }}"
        loop muted playsinline autoplay></video>
    {% endif %}

  </div>

  <div class="hero__text-wrap">
    <div class="page-width">
      <div class="hero__text-content {{ section.settings.text_align }}">

        {% if section.settings.video_url contains 'vimeo.com' %}
          <button type="button" id="VimeoTrigger-{{ section.id }}" class="vimeo-mobile-trigger medium-up--hide">
            {% include 'icon-play' %}
          </button>
        {% endif %}

        {% unless section.settings.title == blank %}
          <h2 class="h1 hero__title">
            <div class="animation-cropper"><div class="animation-contents">
            {{ section.settings.title | newline_to_br }}
            </div></div>
          </h2>
        {% endunless %}
        {% if section.settings.subheading or section.settings.link %}
          {% unless section.settings.subheading == blank %}
            <div class="hero__subtitle">
              <div class="animation-cropper"><div class="animation-contents">
                {{ section.settings.subheading | escape }}
              </div></div>
            </div>
          {% endunless %}
          {% if section.settings.link_text != blank %}
            {%- assign link_href = section.settings.link -%}
            {% if section.settings.link == blank %}
              {%- assign link_href = section.settings.video_url -%}
            {% endif %}
            <div class="hero__link">
              <div class="animation-cropper">
                <div class="animation-contents">
                  <a href="{{ link_href }}" class="btn btn--small btn--inverse js-no-transition">
                    {{ section.settings.link_text }}
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}

      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Video hero",
    "class": "index-section--hero",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Bring your\nbrand to life."
      },
      {
        "type": "range",
        "id": "title_size",
        "label": "Heading text size",
        "default": 80,
        "min": 40,
        "max": 100,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Seamless hero videos"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Button text",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link",
        "info": "Links to videos will be opened in a video player"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "default": "vertical-bottom horizontal-left",
        "options": [
          {
            "value": "vertical-center horizontal-left",
            "label": "Center left"
          },
          {
            "value": "vertical-center horizontal-center",
            "label": "Center"
          },
          {
            "value": "vertical-center horizontal-right",
            "label": "Center right"
          },
          {
            "value": "vertical-bottom horizontal-left",
            "label": "Bottom left"
          },
          {
            "value": "vertical-bottom horizontal-center",
            "label": "Bottom center"
          },
          {
            "value": "vertical-bottom horizontal-right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Background video link",
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "info": "Supports YouTube, .MP4 and Vimeo. Not all features supported by Vimeo. [Learn more](https://archetypethemes.co/blogs/motion/how-do-i-add-background-videos)"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "default": "650px",
        "options": [
          {
            "label": "450px",
            "value": "450px"
          },
          {
            "label": "550px",
            "value": "550px"
          },
          {
            "label": "650px",
            "value": "650px"
          },
          {
            "label": "750px",
            "value": "750px"
          },
          {
            "label": "Full screen",
            "value": "100vh"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Video hero",
      "category": "Video"
    }]
  }
{% endschema %}
