<header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="password-page__header__inner">
    <a href="#LoginModal" class="js-modal-open-login-modal password-login">
      <span class="password__lock">
        {% include 'icon-lock' %}
      </span>
      {{ 'general.password_page.password_link' | t }}
    </a>

    <div class="password-page__logo">
      <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
        <span>{{ shop.name }}</span>
      </h1>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      }
    ]
  }
{% endschema %}
