.variant-wrapper {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.variant__label {
  letter-spacing: 1px;
}

.variant__select {
  padding: 12px;
  border-radius: 2px;
  border-color: #ccc;
  width: 100%;
  font-weight: 700;
  background-image: url('{{ "ico-select-grey.svg" | asset_url }}');
}

.variant__price {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate3d(0, -50%, 0);
  font-size: 1.25rem;
  pointer-events: none;
}

